.sticky {
    position: fixed;
    transition: 350ms ease-in;
    width: 100%;
    top: 0;
    z-index: 999;
    padding-top: 10px;
}
/* important flags to not spend too much time on appearance' configuration :( */
.searchInput fieldset {
    border: none !important;
}
.searchInput label {
        color: transparent !important;
}
